{% extends 'scifight/_inside_tournament.html' %}
{% load scifight_url %}

{% block container_content %}
    {% for leader in leaders %}
        <p><a href="{{ leader | scifight_url }}">{{ leader.full_name }} ({{ leader.short_name }})</a></p>
        <p><a href="{{ leader.team | scifight_url }}">Team: {{ leader.team }}</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
