{% extends 'scifight/_inside_tournament.html' %}
{% load scifight_url %}

{% block container_content %}
    {% for team in teams %}
        <p><a href="{{ team | scifight_url }}">Team - {{ team.name }}</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
